@font-face {
  font-family: 'Gotham-bold';
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Bold.otf') format('opentype'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-L';
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Light.otf') format('opentype'), url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf') format('truetype'), url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.otf') format('opentype'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
}
@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamBook.woff') format('woff'), url('../fonts/GothamBook.ttf') format('truetype'), url('../fonts/GothamBook.svg#GothamBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Loading-overlay styles */
@keyframes loadingStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  position: relative;
  pointer-events: none;
  min-height: 5.3rem;
  z-index: 99990;
  overflow: hidden !important;
}
.loading .loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: loadingStart 100ms 300ms linear 1 both;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  z-index: 99990;
}
.loading .loading-text {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
  position: relative;
  display: block;
  display: none;
  text-transform: uppercase;
  font-weight: bold;
}
.modal {
  z-index: 100001;
}
.modal .panel-loading .loading,
.modal .panel-loading .loading .loading-overlay {
  z-index: 999999;
}
.loading .loading-text:after {
  content: "...";
}
.loading .loading-spinner {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: -2rem auto 0.2rem;
  color: #1a1d1d;
  opacity: 0.8;
  text-align: center;
}
.loading .loading-icon {
  font-size: 3.3125rem;
  line-height: 4.25rem;
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 0.5em;
  animation: loading 1s steps(4) infinite;
  display: block;
  vertical-align: middle;
}
.loading .loading-icon:before {
  vertical-align: middle;
  content: "\e000";
  font-family: "loadingOverlay";
}
/* =================== Upload using DZ =================== */
.dropzone-form {
  border: 1px dashed #0087F7;
  border-radius: 5px;
  background: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  /*min-height: 100px;*/
  padding: 8px;
  vertical-align: middle;
  cursor: pointer;
}
.dropzone-form div.dz-message {
  display: block;
  padding: 20px 0px;
  color: #999;
}
.dropzone-form div.dz-message i.fa {
  font-size: 40px;
}
.dropzone-form .closeDZ {
  display: block;
  position: relative;
  width: 10px;
  float: right;
  margin-top: -2px;
  margin-right: 2px;
}
/* ===================================================== */
a {
  color: #0a4391;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 8px 30px;
  line-height: 1.1;
  border-radius: 10px;
}
.btn-primary {
  background-color: #0a4391;
  border-color: #083879;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  background-color: #083879;
}
.btn-primary:focus {
  border-color: #072d61;
  background-color: #0a4391;
}
.btn-primary.disabled {
  background-color: #0a4391;
  border-color: #083879;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: white;
}
.form-control,
.dropdown-menu {
  font-size: 12px;
}
.break-wrap {
  word-break: break-word;
}
.text-color-primary {
  color: #0a4391;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ccc;
}
.lity {
  z-index: 99999;
}
.stylish-input-group .input-group-addon {
  background: white !important;
}
.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}
.stylish-input-group button {
  border: 0;
  background: transparent;
}
ul.files_container {
  min-height: auto;
}
.sp-table thead > tr > th {
  border-bottom: solid 2px #e1e1e1;
}
.sp-table tbody > tr > td {
  border-top: solid 1px #e1e1e1;
  vertical-align: middle;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Gotham-L";
  font-size: 12px;
}
html {
  background-image: url('../img/new-background.jpg');
}
body {
  background: transparent;
}
.wrapper {
  min-height: 100%;
  background-color: transparent;
}
.wrapper .content-wrapper {
  background-color: transparent;
}
/* smaller than Extra small screen */
/* smaller than Extra small screen */
/* smaller than 640px screen */
/* smaller than 480px screen */
.auth-page .login-box {
  margin: 2% auto;
}
.auth-page .logo-title-section h2 {
  color: #231f20;
  font-size: 27px;
  font-family: "Gotham-bold";
}
.auth-page .logo-title-section h2 > div {
  color: #bcc1cf;
  font-size: 14px;
  font-family: "Gotham-L";
}
.auth-page .login-btn {
  background: url(../img/login-btn.png) no-repeat 0 0;
  background-size: 100%;
  width: 230px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  border: none !important;
  font-family: 'Gotham-bold';
}
.auth-page .login-btn-text {
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #bcc1cf;
  letter-spacing: 1px;
  font-family: 'Gotham-bold';
}
.auth-page .login-btn-text a.signup-link {
  color: #28abe1 !important;
  text-decoration: none;
}

/*# sourceMappingURL=auth.css.map */
